<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>588.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,120},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{18,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>590.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,138},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>592.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,76},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>594.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,96},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>596.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,94},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>598.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,74},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>600.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,74},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>602.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>856.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,52},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>858.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,50},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>860.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>862.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>864.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,98},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>866.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,98},{20,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>868.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,140},{18,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>870.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,28},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>872.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,74},{24,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>874.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{22,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{22,16}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>876.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,28},{24,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>878.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,26},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>880.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>882.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{22,20}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>884.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,120},{20,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>886.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>888.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,52},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>890.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,120},{18,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>892.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,118},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>894.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>896.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,26},{12,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{12,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>898.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{14,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>900.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{14,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>902.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,140},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{14,14}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>904.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{12,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>920.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b528327a3703d6d36afd5cce57cb1db$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
