<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{176,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{176,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,602},{146,116}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,3},{146,116}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>109.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,480},{100,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,0},{100,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>111.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,880},{124,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>113.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,750},{116,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>115.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{186,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{186,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>117.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,124},{180,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{180,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{192,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{192,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>121.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,246},{192,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{192,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{194,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{194,116}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{220,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{220,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>127.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,490},{156,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>129.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,734},{140,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{140,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>131.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,368},{176,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{176,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{142,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{142,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>135.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,612},{154,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{154,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{138,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{138,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{200,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{200,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>141.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,351},{127,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{127,102}}</string>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>143.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,222},{127,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{127,102}}</string>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>145.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,545},{53,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>147.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,490},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>149.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{320,77}}</string>
                <key>sourceSize</key>
                <string>{320,79}</string>
            </dict>
            <key>151.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,81},{139,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,93}}</string>
                <key>sourceSize</key>
                <string>{141,93}</string>
            </dict>
            <key>153.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,598},{53,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{53,49}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>155.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,649},{55,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,49}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>157.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,807},{71,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>159.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,734},{71,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5ff0ec4a23f20bbc70df39b00575d85$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
